<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学工系统</title>
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/elementui/index.css">
    <style>
        .has-submenu:active {
            background-color: #f8f8f8;
            color: #7366ff;
        }

        .form-control {
            width: 320px;
            height: 46px;
        }

        #sub {
            text-align: right;
            height: 50px;
        }

        table {
            width: 890px;
        }

        #sub input {
            margin-top: 20px;
            width: 140px;
            height: 36px;
        }

        table td, table th {
            vertical-align: inherit;
        }

        .el-input {
            width: 220px;
        }

        .logoInfo {
            display: flex;
            justify-content: flex-start;
            font-size: 25px;
        }
    </style>
</head>

<body>
<div id="main-wrapper" class="show">
    <!-- 左上角信息 -->
    <div class="nav-header">
        <div class="brand-logo">
            <img class="logo-tabib" src="/static/picture/logo.png" alt="">
        </div>
    </div>

    <!--   左侧列表     -->
    <aside class="left-panel nicescroll-box">
        <nav class="navigation">
            <ul class="list-unstyled main-menu">
                <li class="has-submenu active">
                    <a th:href="@{/adminStudent}">
                        <i class="fas fa-user-circle"></i>
                        <span class="nav-label">学生信息</span>
                    </a>
                </li>
                <li class="has-submenu">
                    <a th:href="@{/adminTeacher}">
                        <i class="fas fa-user-circle"></i>
                        <span class="nav-label">教师信息</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- 个人信息 -->
    <div class="header">
        <header class="top-head container-fluid">
            <div class="logoInfo">
                <p1>学生工作管理信息系统</p1>
            </div>
            <div class="header-right">
                <div class="my-account-wrapper" style="height: 60px; width: 144px">
                    <div class="account-wrapper">
                        <div class="account-control">
                            <a class="login header-profile" href="#" title="Sign in">
                                <div class="header-info">
                                    <span th:text="${session.admin.username}"></span>
                                    <small>Admin</small>
                                </div>
                                <img src="/static/picture/admin.jpg" alt="people">
                            </a>
                            <div class="account-dropdown-form dropdown-container">
                                <div class="form-content">
                                    <a th:href="@{/login}">
                                        <i class="fas fa-sign-in-alt"></i>
                                        <span class="ml-2">退出 </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!--内容-->
    <div class="content-body">
        <div>
            <el-input v-model="studentName" placeholder="输入学生名称"></el-input>
            <el-button type="primary" icon="el-icon-search" @click="getStudentByName()">搜索</el-button>
        </div>
        <el-table :data="dataList" stripe style="width: 100%">
            <el-table-column property="id" label="编号"></el-table-column>
            <el-table-column property="username" label="学生名称"></el-table-column>
            <el-table-column property="email" label="学生邮箱"></el-table-column>
            <el-table-column label="性别">
                <template slot-scope="scope">
                    {{scope.row.sex == 1? "男":"女"}}
                </template>
            </el-table-column>
            <el-table-column property="phone" label="电话"></el-table-column>
            <el-table-column property="birthday" label="生日"></el-table-column>
            <el-table-column property="nation" label="民族"></el-table-column>
            <el-table-column property="address" label="地址"></el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" @click="modStudentDialog(scope.row)">修改</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog title="编辑学生信息" :visible.sync="updateDialog">
            <el-form ref="dataEditForm" :model="formData" label-position="right" label-width="100px">
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="姓名" prop="username">
                            <el-input v-model="formData.username"/>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="邮箱" prop="email">
                            <el-input v-model="formData.email"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="性别" prop="sex">
                            <el-select v-model="formData.sex" placeholder="请选择性别">
                                <el-option label="男" value="1"></el-option>
                                <el-option label="女" value="0"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="电话" prop="phone">
                            <el-input v-model="formData.phone"/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col  :span="12">
                        <el-form-item label="生日" prop="birthday">
                            <el-input v-model="formData.birthday" type="date"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col  :span="12">
                        <el-form-item label="民族" prop="nation">
                            <el-input v-model="formData.nation"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col>
                        <el-form-item label="地址" prop="address">
                            <el-input type="textarea" :rows="2" v-model="formData.address"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel()">取消</el-button>
                <el-button type="primary" @click="modStudent()">确定</el-button>
            </div>
        </el-dialog>

    </div>

</div>


<!-- JQuery v3.5.1 -->
<script src="/static/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/static/js/popper.min.js"></script>

<!-- Bootstrap -->
<script src="/static/js/bootstrap.js"></script>

<!-- Moment -->
<script src="/static/js/moment.min.js"></script>

<!-- Date Range Picker -->
<script src="/static/js/daterangepicker.min.js"></script>

<!-- Datatable -->
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/init-tdatatable.js"></script>

<!-- Chart js -->
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/charts-custom.js"></script>

<!-- Main Custom JQuery -->
<script src="/static/js/toggleFullScreen.js"></script>
<script src="/static/js/main.js"></script>

<script src="/static/js/vue.js"></script>
<script src="/static/elementui/index.js"></script>
<script src="/static/js/axios-0.18.0.js"></script>
<script type="text/javascript">

    var vue = new Vue({
        el:"#main-wrapper",

        data:{
            updateDialog:false,
            studentName:"",
            dataList:[],
            formData:[],
        },

        created(){
            this.getStudentAll();
        },

        methods:{

            getStudentAll(){
              axios.post("/getStudentAll").then((res) =>{
                  this.dataList = res.data.data;
              })
            },

            cancel(){
                this.updateDialog = false;
                this.getStudentAll();
            },

            getStudentByName(){
                if (this.studentName == "" || this.studentName == null){
                    this.getStudentAll();
                }else {
                    axios.get("/getStudentLikeStudentName/"+this.studentName).then((res) =>{
                        this.dataList = res.data.data;
                    })
                }
            },

            modStudentDialog(row){
                this.updateDialog = true;
                this.formData = row;
            },

            modStudent(){
                if (this.formData.username == "" || this.formData.username == null){
                    this.$message.error("姓名不能为空");
                }else if(this.formData.email == "" || this.formData.email == null){
                    this.$message.error("邮箱不能为空");
                }else if(this.formData.sex == "" || this.formData.sex == null){
                    this.$message.error("性别不能为空");
                }else if(this.formData.phone == "" || this.formData.phone == null){
                    this.$message.error("电话不能为空");
                }else if(this.formData.birthday == "" || this.formData.birthday == null){
                    this.$message.error("生日不能为空");
                }else if(this.formData.nation == "" || this.formData.nation == null){
                    this.$message.error("民族不能为空");
                }else if(this.formData.address == "" || this.formData.address == null){
                    this.$message.error("地址不能为空");
                }else{
                    axios.post("/modStudentByStudentId",this.formData).then((res) =>{
                        if (res.data.flag){
                            this.studentName = "";
                            this.updateDialog = false;
                            this.$message.success("修改成功");
                        }else {
                            this.$message.error("修改失败");
                        }
                    }).finally(() =>{
                        this.getStudentAll();
                    })
                }
            }
        }
    })

</script>

</body>

</html>