<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yun.mapper.AccountMapper">

    <select id="selectStudent" resultType="student">
        select * from student where email = #{email} and password = #{password} and role = #{role}
    </select>

    <select id="selectTeacher" resultType="teacher">
        select * from teacher where email = #{email} and password = #{password} and role = #{role}
    </select>

    <select id="selectAdmin" resultType="admin">
        select * from admins where email = #{email} and password = #{password} and role = #{role}
    </select>

    <select id="selectStudentForCode" resultType="student">
        select * from student where email = #{email} and role = #{role}
    </select>

    <select id="selectTeacherForCode" resultType="teacher">
        select * from teacher where email = #{email} and role = #{role}
    </select>

    <select id="selectAdminForCode" resultType="admin">
        select * from admins where email = #{email}  and role = #{role}
    </select>

    <insert id="addOneSt">
        insert into student values(DEFAULT,#{username},#{password},#{email},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{role})
    </insert>

    <insert id="addOneTc">
        insert into teacher values(DEFAULT,#{username},#{password},#{email},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{role},#{invitationCode})
    </insert>

    <update id="modOneSt">
        update student set password = #{password} where email = #{email}
    </update>

    <update id="modOneTc">
        update teacher set password = #{password} where email = #{email}
    </update>

</mapper>