<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yun.mapper.CourseMapper">

    <resultMap id="courseById" type="course">
        <id property="id" column="id"></id>
        <collection property="courseList" column="course_id" select="cn.yun.mapper.CourseInfoMapper.selectByCourseId"></collection>
    </resultMap>

    <select id="selectByStudent" resultMap="courseById">
        select * from course where student_id = #{id}
    </select>

</mapper>