<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yun.mapper.TeacherMapper">

    <resultMap id="getClazzForStudent" type="clazz">
        <id column="id" property="id"></id>
        <association property="list" column="student_id" select="cn.yun.mapper.StudentMapper.selectByClazz"></association>
    </resultMap>

    <select id="selectStudentByTeacherId" resultMap="getClazzForStudent">
        select * from clazz where teacher_id = #{id}
    </select>

    <select id="selectByTeacherId" resultType="clazz">
        select * from clazz where teacher_id = #{id}
    </select>

    <select id="selectById" resultType="clazz">
        select * from clazz where id = #{id}
    </select>

    <select id="selectCourseInfoForTeacher" resultType="course">
        SELECT course.*, student.username AS studentName ,course_info.`name` AS courseName FROM course,course_info,student
        WHERE course.course_id = course_info.id AND
        course.student_id = student.id AND course.student_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectLeaveByStudentIdForClazz" resultType="leave">
        SELECT `leave`.*, student.username AS userName FROM clazz, student, `leave` WHERE clazz.student_id = student.id
        AND student.id = `leave`.student_id AND clazz.student_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectAwardByStudentId" resultType="award">
        SELECT award.*,student.username AS userName,award_info.`name` AS `name`, award_info.money AS money
        FROM award,award_info,student WHERE student.id = award.student_id AND award.award_id = award_info.id
        AND student.id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectPunishByStudentId" resultType="punishmentInfo">
        SELECT punishment_info.*, punishment.`name` AS punishName,punishment.punishment_time
        AS punishTime,punishment.info AS punishInfo,student.username AS userName
        FROM punishment,punishment_info,student WHERE punishment.id = punishment_info.punishment_id
        AND punishment.student_id = student.id AND student.id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectClazzName" resultType="clazz">
        SELECT * FROM clazz GROUP BY clazz_name
    </select>

    <select id="selectLikeName" resultType="clazz">
        SELECT * FROM clazz where clazz_name like concat("%",#{name},"%")
    </select>

    <select id="selectCourseByTeacherId" resultType="courseInfo">
        SELECT * FROM course_info where teacher_id = #{id}
    </select>

    <select id="selectCourseById" resultType="courseInfo">
        SELECT * FROM course_info where id = #{id}
    </select>

    <update id="updateById">
        update teacher set username = #{username}, email = #{email}, sex = #{sex}, phone = #{phone},
                           birthday = #{birthday}, nation = #{nation}, address = #{address},img_address = #{imgAddress}
        where id = #{id}
    </update>

    <update id="updateClazz">
        update clazz set clazz_name = #{clazzName},info=#{info} where id = #{id}
    </update>

    <update id="updateAwardForClazz">
        update award set status = #{status} where id = #{id}
    </update>

    <update id="updatePunishForClazz">
        update punishment_info set status = #{status} where id = #{id}
    </update>

    <update id="updateLeaveForClazz">
        update `leave`
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateCourseForScores">
        update course set score = #{score} where id = #{id}
    </update>

    <update id="updateCourse">
        update course_info set name = #{name}, course_time = #{courseTime},course_address = #{courseAddress} where id = #{id}
    </update>

</mapper>