<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学工系统</title>
    <!-- Base Styling  -->
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<style>
    .btn-primary{
        width: 165px !important;
        height: 40px;
    }
    #teacher{
        margin-left: 30px;
    }
</style>

<body>
    <div id="main-wrapper" class="show">

        <div class="login-tabib">
            <div>
                <div class="text-center logo">
                    <img class="img-fluid" src="/static/picture/logo.png">
                </div>
                <div class="login-main">
                    <form class="theme-form">
                        <h4>注册账号</h4>
                        <div class="form-group m-b-10">
                            <label class="col-form-label">Choose Your Role</label>
                            <div class="form-group mb-0">
                                <a th:href="@{/handle/studentRegister}" class="btn btn-primary w-100">我是学生</a>
                                <a th:href="@{/handle/teacherRegister}" id="teacher" class="btn btn-primary w-100">我是老师</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JQuery v3.5.1 -->
    <script src="static/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="static/js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/bootstrap.js"></script>

    <!-- Moment -->
    <script src="static/js/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="static/js/daterangepicker.min.js"></script>

    <!-- Main Custom JQuery -->
    <script src="static/js/toggleFullScreen.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>